* {
    margin: 0; padding: 0;
    /* 新的盒子模型 */
    box-sizing: border-box; 
}
.clearflx {
    content: '';
    display: block;
    clear: both;
}
.cover {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: url(http://cloud.hunger-valley.com/17-9-22/87786461.jpg)  center center no-repeat;
    background-size: cover;
    filter: blur(5px);
}
.musicbox {
    position: absolute;
    left: 50%;
    top:40%;
    /* 这个属性重点记忆 */
    transform: translate(-50% -50%);
    font-size: 16px;
    color: red;
    width: 340px;
}
.music-panel {
    border: 1px solid red;
    padding: 20px 20px 5px 20px;
    box-shadow: 0px 2px 5px 0px rgba(255,255,255,0.9);
    background: #fff;
}
.musicbox .control {
    margin-top: 20px;
    font-size: 20px;
    color: #ee8a87;
    float: left;
}
.musicbox .iconfont {
    margin-right: 12px;
    /* 不会用 */
    cursor: pointer;
}
.musicbox .info {
    margin-left: 120px;
}
.musicbox .info .title {
    font-size: 18px;
}
.musicbox .info .auther {
    font-size: 13px;
}
.musicbox .progress {
    width: 260px;
}
.musicbox .progress .bar {
    height: 3px;
    margin-top: 15px;
    background: rgba(0,0,0,0.2);
    cursor: pointer;
}
.musicbox .progress .progress-now {
    background-color: #ee8a87;
    height: 3px;
    width: 0;
    position: relative;
}
.musicbox .time {
    text-align: right;
}
.musicbox .list {
    display: none;
}
.musicbox .list>li {
    position: relative;
    padding: 4px 10px;
    border: 1px solid red;
    border-top: none;
    overflow: hidden;
    cursor: pointer;
}
.musicbox .list>li:hover {
    background-color: rgba(255,255, 255,0.5);
  }
  .musicbox .list>li.playing:before{
    position: absolute;
    top: 0;
    left: 0;
    content:'';
    display: inline-block;
    width: 8px;
    height: 30px;
    background: rgba(255, 255, 255, 0.8);
  }

